<a href="#/books">Go Back</a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add Book</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form ng-submit="addArticle()">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="article.title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label>Author</label>
                        <input type="text" class="form-control" value="{{user._id}}" placeholder="Author ID">
                    </div>
                    <div class="form-group" ng-init="getCategory()">
                        <label>Category</label>
                        <select ng-model="article.category" ng-required="true" class="form-control" ng-options="category as category.name for category in categories track by category._id"/>
                    </div>
                    <div class="form-group">
                        <label>Short Description</label>
                        <textarea class="form-control" ng-model="article.shortDescription" placeholder="Short Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Full Description</label>
                        <textarea class="form-control" ng-model="article.fullDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Media</label>
                        <input type="text" class="form-control" ng-model="article.media" placeholder="Image, Youtube Link...">
                    </div>
                    <div class="form-group">
                        <label>Tags</label>
                        <tags-input use-strings="true" height='30px' ng-model="article.tags"></tags-input>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>